@import "mixins.scss";
@import "../../../../widgets/brease/Button/meta/Button_base";
.widgets_brease_Button_style_default {
@include widgets_brease_Button_base; 
span {
	font-size: 16px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled) span {
	color: #474747;
}
&.active:not(.disabled):not(.editMode) span {
	color: #FFFFFF;
}
&.checked:not(.disabled) span {
	color: #FFFFFF;
}
@include border-radius(30px);
	border-width: 0px 0px 0px 0px;
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled) {
	background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}
&.active:not(.disabled):not(.editMode) {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
&.checked:not(.disabled) {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
&.disabled {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
&.disabled.active {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
&.disabled.checked {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
&.disabled.active {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.checked:not(.disabled) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}

}
@import "../../../../widgets/brease/MomentaryPushButton/meta/MomentaryPushButton_base";
.widgets_brease_MomentaryPushButton_style_default {
@include widgets_brease_MomentaryPushButton_base; 
span {
	font-size: 16px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled) span {
	color: #474747;
}
&.active:not(.disabled):not(.editMode) span {
	color: #FFFFFF;
}
&.checked:not(.disabled) span {
	color: #FFFFFF;
}
@include border-radius(30px);
	border-width: 0px 0px 0px 0px;
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled) {
	background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}
&.active:not(.disabled):not(.editMode) {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
&.checked:not(.disabled) {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
&.disabled {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
&.disabled.active {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
&.disabled.checked {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
&.disabled.active {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.checked:not(.disabled) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}

}
@import "../../../../widgets/brease/NavigationButton/meta/NavigationButton_base";
.widgets_brease_NavigationButton_style_default {
@include widgets_brease_NavigationButton_base; 
span {
	font-size: 16px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled) span {
	color: #474747;
}
&.active:not(.disabled):not(.editMode) span {
	color: #FF8500;
}
&.checked:not(.disabled) span {
	color: #FF8500;
}
@include border-radius(30px);
	border-width: 0px 0px 0px 0px;
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled):not(.checked) {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
&.active:not(.disabled):not(.editMode) {
	border-color: #FFA947 #FD7B01 #FD7B01 #FFA947;
}
&:not(.disabled) {
	background-image: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
}
&.active:not(.disabled):not(.editMode) {
	background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(247,247,247,1) 100%) ;
}
&.checked:not(.disabled) {
	background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(247,247,247,1) 100%) ;
}
&.checked:not(.disabled):not(.active) {
	background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(247,247,247,1) 100%) ;
}
&.disabled {
	background-image: linear-gradient(135deg, #777777 0%,#bbbbbb 0%,#777777 4%,#777777 4%,#777777 86%,#eeeeee 98%);
}
&.disabled.active {
	background-image: linear-gradient(135deg, #777777 0%,#bbbbbb 0%,#777777 4%,#777777 4%,#777777 86%,#eeeeee 98%);
}
&.disabled.checked {
	background-image: linear-gradient(135deg, #777777 0%,#bbbbbb 0%,#777777 4%,#777777 4%,#777777 86%,#eeeeee 98%);
}
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
&.disabled.active {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.checked {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}

}
@import "../../../../widgets/brease/ToggleButton/meta/ToggleButton_base";
.widgets_brease_ToggleButton_style_default {
@include widgets_brease_ToggleButton_base; 
span {
	font-size: 16px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled) span {
	color: #474747;
}
&.active:not(.disabled):not(.editMode) span {
	color: #FFFFFF;
}
&.checked:not(.disabled) span {
	color: #FFFFFF;
}
@include border-radius(30px);
	border-width: 0px 0px 0px 0px;
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled) {
	background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}
&.active:not(.disabled):not(.editMode) {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
&.checked:not(.disabled) {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
&.checked:not(.disabled):not(.active) {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
&.disabled {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
&.disabled.active {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
&.disabled.checked {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
&.disabled.active {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.checked {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}

}
@import "../../../../widgets/brease/PushButton/meta/PushButton_base";
.widgets_brease_PushButton_style_default {
@include widgets_brease_PushButton_base; 
span {
	font-size: 16px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled) span {
	color: #474747;
}
&.active:not(.disabled):not(.editMode) span {
	color: #FFFFFF;
}
&.checked:not(.disabled) span {
	color: #FFFFFF;
}
@include border-radius(30px);
	border-width: 0px 0px 0px 0px;
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled) {
	background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}
&.active:not(.disabled):not(.editMode) {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
&.checked:not(.disabled) {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
&.disabled {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
&.disabled.active {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
&.disabled.checked {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
&.disabled.active {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.checked:not(.disabled) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}

}
@import "../../../../widgets/brease/RadioButton/meta/RadioButton_base";
.widgets_brease_RadioButton_style_default {
@include widgets_brease_RadioButton_base; 
span {
	font-size: 16px;
}
span {
	color: #474747;
}
&.active:not(.disabled):not(.editMode) span {
	color: #474747;
}
&.checked:not(.disabled) span {
	color: #474747;
}
&.disabled {
	border-color: #CCCCCC;
}
&.disabled.checked {
	border-color: #CCCCCC;
}
&.disabled.active {
	border-color: #CCCCCC;
}
&:not(.disabled) {
	background-color: transparent;
}
&.active:not(.disabled):not(.editMode) {
	background-color: transparent;
}
&.checked:not(.disabled) {
	background-color: transparent;
}
span {
@include font-weight-bold(false);
}

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_default {
@include widgets_brease_Label_base; 
	font-size: 16px;
	color: #474747;
	background-color: transparent;
	border-style: none;
&:before {
	border-style: none;
}
&:after {
	border-style: none;
}
span {
	padding: 5px;
}

}
@import "../../../../widgets/brease/KeyBoard/meta/KeyBoard_base";
.widgets_brease_KeyBoard_style_default {
@include widgets_brease_KeyBoard_base; 
.keyBoardHeader {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
	border-color: #7C7C7C;
header {
	background-color: #7C7C7C;
}
.keyBoardButtons button {
	color: #000000;
}
.keyBoardButtons button sub {
	color: #000000;
}
.keyBoardButtons button svg {
	fill: #000000;
}
.keyBoardBody button .icon-shift {
	background-color: #000000;
}
.keyBoardBody button .icon-shift:after {
	border-bottom-color: #000000;
}
.keyBoardBody button .icon-delete {
	background-color: #000000;
}
.keyBoardBody button .icon-delete:after {
	border-right-color: #000000;
}

}
@import "../../../../widgets/brease/NumPad/meta/NumPad_base";
.widgets_brease_NumPad_style_default {
@include widgets_brease_NumPad_base; 
.numpadHeader {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
	border-color: #7C7C7C;
header {
	background-color: #7C7C7C;
}
&.arrowLeft .breaseWindowArrow {
	border-right-color: #7C7C7C;
}
&.arrowRight .breaseWindowArrow {
	border-left-color: #7C7C7C;
}
.breaseNumPadButtons button {
	color: #000000;
}
.breaseNumpadSlider .numpadSlider_thumb .numpadSlider_knob {
	background-image: radial-gradient(ellipse at left, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
}

}
@import "../../../../widgets/brease/DateTimePicker/meta/DateTimePicker_base";
.widgets_brease_DateTimePicker_style_default {
@include widgets_brease_DateTimePicker_base; 
header {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
	border-color: #7C7C7C;
header {
	background-color: #7C7C7C;
}
&.arrowLeft .breaseWindowArrow {
	border-right-color: #7C7C7C;
}
&.arrowRight .breaseWindowArrow {
	border-left-color: #7C7C7C;
}
&.arrowTop .breaseWindowArrow {
	border-bottom-color: #7C7C7C;
}
&.arrowBottom .breaseWindowArrow {
	border-top-color: #7C7C7C;
}

}
@import "../../../../widgets/brease/GroupBox/meta/GroupBox_base";
.widgets_brease_GroupBox_style_default {
@include widgets_brease_GroupBox_base; 
> .header {
	background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}
	background-color: #FFFFFF;
> .header span {
	font-size: 16px;
}
> .header {
height: 16px + 20px;
}
> .header span {
	color: #474747;
}
@include border-radius(8px 8px 0px 0px);
	border-width: 1px;
> .header {
	border-width: 1px;
}
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
> .header {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));

}
@import "../../../../widgets/brease/NumericInput/meta/NumericInput_base";
.widgets_brease_NumericInput_style_default {
@include widgets_brease_NumericInput_base; 
&:not(.disabled) input {
	color: #000000;
}
&:not(.disabled) span.breaseNumericInput_unit {
	color: #000000;
}
	border-width: 2px 2px 1px 1px;
&:not(.disabled) {
	border-color: #FF8800;
}
&.active {
	border-color: #FF8800;
}
input {
	font-size: 16px;
}
&:not(.disabled) {
	background-color: #FFFFFF;
}
&.active {
	background-color: #EBEBEB;
}
&.active:not(.disabled) input {
	color: #555555;
}
&.active:not(.disabled) span.breaseNumericInput_unit {
	color: #555555;
}
input {
@include font-weight-bold(true);
}
@include box-shadow(4px 1px 3px 0px rgba(255, 113, 0, 0.75));

}
@import "../../../../widgets/brease/NumericOutput/meta/NumericOutput_base";
.widgets_brease_NumericOutput_style_default {
@include widgets_brease_NumericOutput_base; 
input {
	color: #474747;
}
span.breaseNumericOutput_unit {
	color: #474747;
}
	border-width: 0px;
input {
	font-size: 16px;
}
	background-color: transparent;
input {
@include font-weight-bold(true);
}

}
@import "../../../../widgets/brease/TextOutput/meta/TextOutput_base";
.widgets_brease_TextOutput_style_default {
@include widgets_brease_TextOutput_base; 
	color: #474747;
	border-width: 0px;
	font-size: 16px;
	background-color: transparent;
@include font-weight-bold(true);
@include text-alignment-all('left');

}
@import "../../../../widgets/brease/LanguageSelector/meta/LanguageSelector_base";
.widgets_brease_LanguageSelector_style_default {
@include widgets_brease_LanguageSelector_base; 
.breaseButton span {
	font-size: 16px;
}
.breaseListBoxLegacy ul li span  {
	font-size: 16px;
}
.breaseButton span {
@include font-weight-bold(true);
}
.breaseListBoxLegacy ul li span {
@include font-weight-bold(true);
}
.breaseButton:not(.disabled) span {
	color: #474747;
}
.breaseButton.checked:not(.disabled) span {
	color: #FFFFFF;
}
.breaseButton:active:not(.disabled) span {
	color: #FFFFFF;
}
.breaseButton {
@include border-radius(8px);
}
.breaseListBoxLegacy {
@include border-radius(8px);
}
.breaseButton {
	border-width: 0px 0px 0px 0px;
}
.breaseListBoxLegacy {
	border-width: 0px 0px 0px 0px;
}
.breaseButton.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
.breaseButton:active:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
.breaseButton:not(.disabled) {
	background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}
.breaseListBoxLegacy ul li.selected {
	background-image: linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ;
}
&.disabled .breaseButton.disabled {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
&.disabled:active .breaseButton.disabled {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
&.disabled.checked .breaseButton.disabled {
	background-image: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
.breaseButton {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}

}
@import "../../../../widgets/brease/BasicSlider/meta/BasicSlider_base";
.widgets_brease_BasicSlider_style_default {
@include widgets_brease_BasicSlider_base; 
	border-style: none;
.borderElement .thumbBackground:not(.disabled) {
	background-image: radial-gradient(ellipse at center, #FF8500 0%,#CCCCCC 95%,#1F1F1F 100%);
}
.borderElement .rectangleBackground:not(.disabled) {
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #dbdbdb 50%, #d1d1d1 51%, #CCCCCC 100%);
}

}
@import "../../../../widgets/brease/VideoPlayer/meta/VideoPlayer_base";
.widgets_brease_VideoPlayer_style_default {
@include widgets_brease_VideoPlayer_base; 

}
