# ignore all .isopen and .set files
*.isopen
*.set

# ignore all files in the Temp/Binaries subfolders
Binaries/
Diagnosis/
*.set/
*.isopen/

Temp/             # ignore whole Temp folder
!Temp/        # trace add folder
!Temp/Simulation/        # trace add folder
!Temp/Simulation/APC910//        # trace add folder
!Temp/Simulation/APC910/5PC900_TS17_00/        # trace add folder
!Temp/Simulation/APC910/5PC900_TS17_00/SuperTrakuserfile/        # trace add folder
!Temp/Simulation/APC910/5PC900_TS17_00/SuperTrakuserfile/**      # trace file in add folder