@import "mixins.scss";
#ContentVideo_VideoPlayer1 {
	@include elemTop(40);
}
#ContentVideo_VideoPlayer1 {
	@include elemLeft(239);
}
#ContentVideo_VideoPlayer1 {
	@include elemWidth(807);
}
#ContentVideo_VideoPlayer1 {
	@include elemHeight(570);
}
#ContentVideo_VideoPlayer1 {
		z-index: 0;
}
#ContentVideo_GroupBox1 {
	@include elemTop(260);
}
#ContentVideo_GroupBox1 {
	@include elemLeft(300);
}
#ContentVideo_GroupBox1 {
	@include elemWidth(680);
}
#ContentVideo_GroupBox1 {
	@include elemHeight(160);
}
#ContentVideo_GroupBox1 {
		z-index: 1;
}
#ContentVideo_btnOk {
	@include elemTop(83);
}
#ContentVideo_btnOk {
	@include elemLeft(299);
}
#ContentVideo_btnOk {
	@include elemWidth(100);
}
#ContentVideo_btnOk {
	@include elemHeight(30);
}
#ContentVideo_btnOk {
		z-index: 0;
}
#ContentVideo_Label3 {
	@include elemTop(23);
}
#ContentVideo_Label3 {
	@include elemLeft(19);
}
#ContentVideo_Label3 {
	@include elemWidth(621);
}
#ContentVideo_Label3 {
	@include elemHeight(40);
}
#ContentVideo_Label3 {
		z-index: 1;
}
#ContentVideo_Label3 {
		color: rgba(255, 0, 0, 1);
}
