@import "mixins.scss";
@mixin widgets_brease_BasicSlider_base {
	@include elemWidth(250);
	@include elemHeight(100);
	@include elemMinWidth(0);
	@include elemMaxWidth(0);
	@include elemMinHeight(0);
	@include elemMaxHeight(0);
	border-width: 0px;
	@include border-radius(0px);
	border-style: solid;
	&:not(.disabled) {
		background-color: transparent;
	}
	&:not(.disabled) {
		@include backGroundGradient('');
	}
	.borderElement .backgroundElement .thumbBackground:not(.disabled) {
		background-color: #FF8800;
	}
	.borderElement .thumbBackground:not(.disabled) {
		@include backGroundGradient('');
	}
	border-color: #C8C8C8;
	opacity: 1;
	.borderElement .backgroundElement .rectangleBackground:not(.disabled) {
		background-color: #C8C8C8;
	}
	.borderElement .rectangleBackground:not(.disabled) {
		@include backGroundGradient('');
	}
	&:not(.disabled) .borderElement .backgroundElement .fillElement {
		background-color: transparent;
	}
	&:not(.disabled) .borderElement .backgroundElement .fillElement {
		@include backGroundGradient('');
	}
	padding: 10px;
	margin: 0px;
	@include box-shadow(none);
	.borderElement .axisElement .axis-before .tick text {
		font-size: 10px;
	}
	.borderElement .axisElement .axis-after .tick text {
		font-size: 10px;
	}
	.borderElement .valueDisplay .valueOutput {
		font-size: 10px;
	}
	.borderElement .valueDisplay .unitOutput {
		font-size: 10px;
	}
	.borderElement .axisElement .axis-before .tick text {
		font-family: Arial;
	}
	.borderElement .axisElement .axis-after .tick text {
		font-family: Arial;
	}
	.borderElement .valueDisplay .valueOutput {
		font-family: Arial;
	}
	.borderElement .valueDisplay .unitOutput {
		font-family: Arial;
	}
	.borderElement .axisElement .axis-before .tick text {
		fill: #000000;
	}
	.borderElement .axisElement .axis-after .tick text {
		fill: #000000;
	}
	.borderElement .valueDisplay .valueOutput {
		color: #000000;
	}
	.borderElement .valueDisplay .unitOutput {
		color: #000000;
	}
	.borderElement .valueDisplay {
		background-color: #f1f1f1;
	}
	.borderElement .valueDisplay .arrowOutput {
		border-top-color: #f1f1f1;
	}
	.borderElement .valueDisplay .arrowOutput {
		border-left-color: #f1f1f1;
	}
	.borderElement .valueDisplay {
		@include backGroundGradient('');
	}
	.borderElement .axisElement .axis-before .tick line {
		stroke: #000000;
	}
	.borderElement .axisElement .axis-after .tick line {
		stroke: #000000;
	}
	&.disabled .borderElement .backgroundElement .thumbBackground {
		background-color: #F1F1F1;
	}
	&.disabled .borderElement .backgroundElement .rectangleBackground {
		background-color: #EAEAEA;
	}
	&.disabled .borderElement .backgroundElement .thumbBackground {
		@include backGroundGradient('');
	}
	&.disabled .borderElement .backgroundElement .rectangleBackground {
		@include backGroundGradient('');
	}
	&.disabled .borderElement .backgroundElement .fillElement {
		background-color: transparent;
	}
	&.disabled .borderElement .backgroundElement .fillElement {
		@include backGroundGradient('');
	}
	&.disabled {
		background-color: transparent;
	}
	&.disabled  {
		@include backGroundGradient('');
	}

}

.widgets_brease_BasicSlider_style_default {
@include widgets_brease_BasicSlider_base
}
